<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form style="margin-top: 100px;" class="form-container">

    <h1>Welcome to My Blog</h1> <br> 
    <button class="btn btn-warning" style="margin-right: 100px;" ><a href="/login">Login</a> </button>
    <button class="btn btn-warning" ><a href="/register">Register</a> </button>
    </form>
    

</body>
</html>
