<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    
    <form style="margin-top: 100px;" class="form-container" action="/register" method="POST"> <br> 
        <h1>Register</h1>  <br>
        <label for="username">Username:</label> <br>  <br>
        <input type="text" id="username" name="username" required> <br> <br>
        <label for="password">Password:</label> <br> <br>
        <input type="password" id="password" name="password" required> <br> <br>
        <button class="btn btn-warning" type="submit">Register</button> <br>
    </form>
    
</body>
</html>
